/****Start   peter-river  theme****/


/*Changement de bgc du lien active Acceuil*/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.carousel-indicators .active,
.option-box .gear-check {
	background-color: #3498db;
}

.navbar-inverse .navbar-brand span,
.main-color,
.footer h3,
.footer .copyright span {
	color: #3498db;
}

.option-box .couleurs-option {
	border: 4px solid #3498db;
}


/****End  default theme****/